:root {
    --primary-purple: hsl(259, 100%, 65%);
    --primary-light-red: hsl(0, 100%, 67%);
    --white:  hsl(0, 0%, 100%);
    --off-white: hsl(0, 0%, 94%);
    --light-grey: hsl(0, 0%, 86%);
    --smokey-grey: hsl(0, 1%, 44%);
    --off-black: hsl(0, 0%, 8%);
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: var(--off-white);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
#container{
    background-color: var(--white);
    padding: 50px;
    width: 700px;
    /* margin: 0 auto; */
    border-radius: 30px 30px 100px;
}
.input-section{
    display: flex;
}
label {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    font-size: 12px;
    font-weight: 400;
    color: var(--smokey-grey);
}
input{
    height: 60px;
    padding: 20px;
    font-size: 25px;
    font-weight: 700;
    width: 150px;
    border: 1px solid var(--light-grey);
    border-radius: 5px;
    margin-top: 6px;
}
::placeholder{
    font-size: 25px;
    font-weight: 700;
}
.btn {
    display: flex;
    align-items: center;
}
.line{
    width: 100%;
    height: 1px;
    border: 1px solid var(--off-white);
}
#arrow-btn{
    background-color: var(--primary-purple);
    border-radius: 100px;
    padding: 10px;
    width: 66px;
    height: 66px;
}
#results {
    font-size: 40px;
    font-weight: 800;
}

#results span {
    color: var(--primary-purple)
}

/* Error present */
.has-error{
    color: var(--primary-light-red);
}
.has-error input{
    border-color: var(--primary-light-red)
}
.empty-error, .valid-error{
    margin-top: 6px;
    font-size: 10px;
    display: none;
}